// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


// $light: #F5F5F5;
// $primary: #9FADBF;
// $onprimary: #F5F5F5;
// $maintext: #322F35;
// $weaktext: rgba(50, 47, 53, 0.16);

$body-font-family: 'JetBrains Mono', sans-serif, !important;
$heading-font-family: 'JetBrains Mono', sans-serif, !important;
$font-family--monospace: 'JetBrains Mono', monospace, !important;
  